@tailwind base;
@tailwind components;
@tailwind utilities;

/* ADD THIS */
html,
body,
#root {
  height: 100%;
  margin: 0;
}


/* ADD THIS */
.react-hot-toast {
  z-index: 9999 !important;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* 🚫 stops scrolling */
}
